<!DOCTYPE html>
<html lang="en">

<div class="jumbotron-full">
    <div class="card border-light text-white bg-dark my-2">
        <div class="row">
            <h3 class="text-center mt-2">Usuarios.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-13">
            <h5 *ngIf="loadingData"><span class="spinner-border mr-2"></span>Espere por favor ...
            </h5>
            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput [(ngModel)]="searchValue" [name]="'search'" #input />
              </mat-form-field>
            <div class="lmn-scrollbar-x">
                <control-table [search]="searchValue" [dataSource]="dataSource" [tableColumns]="columns" [dataSize]="dataSize">
                </control-table>
              </div>
        </div>
    </div>
    <div class="footer-copyright text-center text-white bg-dark">© {{yyyy}} Copyright:
        <a> GMayaS C:\>Desarrollo en Sistemas.</a>
    </div>
</div>