<!DOCTYPE html>
<html lang="en">

<div class="jumbotron-full">
    <div class="card border-light text-white bg-dark my-2">
        <div class="row">
            <mat-label class="text-center mat-label-26 mt-2">Usuarios.</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-13">
            <h5 *ngIf="loadingData"><span class="spinner-border mr-2"></span>Espere por favor ...
            </h5>
            <!-- <label>Buscar</label>
            <input /> -->
            <div class="lmn-scrollbar-x">
                <control-table [search]="searchValue" [dataSource]="dataSource" [tableColumns]="columnas" [dataSize]="dataSize">
                </control-table>
            </div>
        </div>
        <div class="footer-copyright text-center text-white bg-dark mat-label-16 mt-2">© {{yyyy}} Copyright:
            <a> GMayaS C:\>Desarrollo en Sistemas.</a>
        </div>
    </div>